/*
Bleu                             #0065FC
  Bleu clair                      #DEEBFF
  Gris                             #F2F2F2

   
*/

/* ____________ à deplacer___________*/

/* ____________ à deplacer___________*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

  font-family: "Raleway-Regular", "Arial", " Verdana", "sans-serif";
  /*utilisation des polices sur la totalité de la page */
  font-size: 100%; /* nota bene 100% = 16px  - Ailleurs mettre combien de rem - par ex au lieu de 32px mettre 2rem */
  font-size: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  padding-left: 25px;
  font-weight: bolder;
  font-size: 1.8em;
}

h2 {
  padding-left: 15px;
  font-weight: bolder;
  font-size: 1.5em;
}
h3 {
 /* padding-left: 25px;*/
 margin-top: 8px;
  font-size: 1.05em;
}
h5 {
  padding-left: 25px;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

/*_________________________________________

________________header _________________
*/

*_________________________________________



________________header _________________
*/


/*pbme back-up -redondance*/

header nav a,
.navinscrire {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  border-top: 1px solid transparent;
 }

header nav a:hover,
.navinscrire:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

.navCAtegory {
  width: 120px;
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

/*news*/

.navinscrire {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid transparent;
}

header,
header nav {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

header nav a {
  text-align: center;
  margin-left: 5px;
  border-top: 1px solid transparent;
  padding: 10px;
  color: #000;
}
header img {
  margin-right: auto;
}
header a:hover {
  color: grey;
}

header nav a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}


.info_dispo,
h1 ~ p,
form,
header img{ margin-left: 15px; }

/*_________________________________________

________________formulaire _________________*/

.titre_filtre {
  font-size: 1.2em;
  font-weight: bold;
}

#lieux {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  border-color: transparent;
  font-size: 1.3em;
}
#lieux:focus {
  border-color: blue;
}

.filtre .fas {
  display: flex;
  width: 42px;
  height: 42px;
  margin-left: -2px;
  color: #0065fc;
  background-color: #deebff;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  border-radius: 50%;
}

.fa-map-marker-alt {
  padding: 13px 15px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.fa-info {
  font-size: 0.8em;
  padding: 4px;
  margin-right: 8px;
  width: 15px;
  color: #0065fc;
  height: 15px;
  /*
    */
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.bt_search {
  padding: 13px 13px;
  font-size: 1em;
  color: white;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.bt_search:after {
  content: "Rechercher";
}
.bt_search:hover {
  box-shadow: 0px 0px 2px #000000;
}

.fa,
.fas {
  font-weight: 900;
}

#liste_filtres {
  display: flex;
  align-items: center;
  position: relative;
  flex-flow: row wrap;
}

.filtre {
  display: flex;
  align-items: center;
  border: #f2f2f2 solid 2px;
  height: 44px;
  border-radius: 22px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;

  /* counter-increment: numero_f; */
  cursor: pointer;
}

.filtre:hover {
  border: #0065fc solid 2px;
}

.filtre:hover .fas,
.filtre input:checked ~ .fas {
  color: white;
  background-color: #0065fc;
}

.filtre:hover .filtre_txt {
  color: #0065fc;
}

/* .filtre input:checked  ~ .filtre {
     background-color: red;
 }*/

input:checked ~ .filtre_txt {
  color: #0065fc;
  text-decoration: underline #0065fc;
}

/* filtre version 1
 input:checked ~ .filtre{
  background-color: #DEEBFF;
  border:#0065fc solid 2px;
}
input:checked ~ .filtre.fas{
    border:#0065fc solid 2px;
}
 
 
 BUG à venir !important!important!important
 */
.filtre input,
#input_search,
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filtre_txt {
  padding-left: 20px;
}

liste_filtres p {
  font-size: 1.3em;
}
.fa-info {
  display: flex;
  color: #0065fc;
  border: #f2f2f2 solid 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  margin-right: 10px;
}

.info_dispo {
  display: flex;
  align-items: center;
}

.infos p {
  font-size: 1.1em;
  margin-left: 0;
  margin-top: 20px;
}

/*____________________________________________
____________________________ hebergement and co
________________________________________________

*/

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
  /*
  
  margin: 0 50px;

  gap: 50px;
  oups */
}

#leshotelsBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #f2f2f2;

  /*padding: 10px*/
  flex: 2;
}

#city_hotelspopu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /*  justify-content:center;*/
  border-radius: 20px;
  background: #f2f2f2;
  margin-left: 20px;
}

#city_activ {
  /*border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50px;
  height: 400px;
  padding: 10px;
}

/*____________________________________________
____________________________ cadre photo
________________________________________________

*/
.cadrephoto_1 {
  height: 120px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cadrephoto_2 {
  /* a factoriser ? */
  height: 130px;
  width: 130px;
  min-width: 130px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.cadrephoto_3 {
    height: 120px;
  /*   flex:80%;
 
  width: 240px*/
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cadrephoto_1 img,
.cadrephoto_2 img,
.cadrephoto_3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*____________________________________________
____________________________ "hotel normaux"
________________________________________________

*/

.les_annonces1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.annonce1 {
  display: flex;
  flex-direction: column;

  margin: 5px;
  border: 5px solid #fff;
  border-radius: 24px;
  background: #fff;
  width: 180px;
  box-shadow: 3px 3px hsl(0, 0%, 50%, 0.3);
  /*box-shadow: 0px 0px 8px #000000;*/
  flex: 1;
  min-width: 240px;
}
.annonce1:hover {
  cursor: pointer;
}
.annonce1_text {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;
line-height: 1px;
*/
  margin-left: 12px;
  margin-top: 0px;
}

/*____________________________________________
____________________________ hotel popu
________________________________________________

*/
.fa-chart-line {
  margin-left: 40px;
}

.annonce2 {
  display: flex;
  margin: 10px;
  border: 5px solid #fff;
  border-radius: 24px;
  width: 90%;
  max-width: 320px;
  background: white;
  box-shadow: 0px 0px 5px grey;
}

.annonce2_text {
  display: flex;
 flex-direction: column;
 align-items: flex-start;
  margin-left: 10px;

  margin-top: 0px;
}
.annonce2_text p {
    height: 100%;
}

/*________________________________________________
                gestion des étoiles
                .etoile0 .fa-star{color: grey;}
__________________________________________________*/

.les_etoiles,
.etoile0 {
  font-size: 0.7em;
  color: rgb(217,217,217);
}

.etoile1 .fa-star:nth-child(1) {
  color: #0065fc;
}

.etoile2 .fa-star:nth-child(1),
.etoile2 .fa-star:nth-child(2) {
  color: #0065fc;
}
.etoile3 .fa-star:nth-child(1),
.etoile3 .fa-star:nth-child(2),
.etoile3 .fa-star:nth-child(3) {
  color: #0065fc;
}
.etoile4 .fa-star:nth-child(1),
.etoile4 .fa-star:nth-child(2),
.etoile4 .fa-star:nth-child(3),
.etoile4 .fa-star:nth-child(4) {
  color: #0065fc;
}
.etoile5 .fa-star {
  color: #0065fc;
}
/*____________________________________________
____________________________ Activité
________________________________________________

*/

#city_activ {
  padding-left: 0px;
  margin-left: 0px;
}

.activboxH {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 20px;
  background: #fff;
  width: 240px;
  box-shadow: 0px 0px 2px #000000;
  height: 100%;
}
/*.activboxH:nth-child(3n){ height: 100%;}*/
.activboxH:nth-child(3n-2) .cadrephoto_3 {
  height: 384px;}
  
.activboxH:nth-child(3n + 2),
.activboxH:nth-child(3n + 3) {
  height: calc(50% - 16px);
}

.activboxH p {
  margin-left: 12px;
}

.activboxH:hover {
  background: #f2f2f2;
  box-shadow: 0px 0px 4px #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.activboxH h3 {
  padding-left: 20px;
}

.annonce1_text > p,
.annonce2_text > p {
  font-size: 0.9em;
  line-height: 1.2;
}

.annonce1_text p,
.annonce2_text p {
  font-size: 0.8em;
  margin-top: -18px;
  padding: 0px;
}
.annonce1_text strong,
.annonce2_text strong {
  font-size: 0.9em;
}

.les_annonces2 {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

footer {
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

footer .foot_txt {
  flex: 28%;
  padding-left: 10px;
}

footer h4 {
  padding-left: 40px;
}
footer li {
  list-style-type: none;
  cursor: pointer;
}
footer li:hover {
  color: #0065fc;
}

@media only screen and (max-width: 1230px) {
    #city_activ {
    height: auto;
    align-items: center;

    margin-left: 50px;
  }

@media only screen and (max-width: 990px) {
 

  main {
    flex-wrap: wrap-reverse;
  }
  #city_hotelspopu {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    
  }
}

@media only screen and (max-width: 767px) {
  .annonce2 {
    min-width: 330px;
  }
  .activboxH {
    min-width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  
  .subscribe {
    order: 2;
  }
  header nav {
    order: 3;
  }
    
  header nav {
    width: 100%;
    justify-content: center;
  }

  header nav a {
    flex: 40%;
     border-bottom: 1px solid transparent;
  }
  
  header nav a:hover {
    border-bottom: 1px solid #0065fc;
    border-top: 1px solid transparent;
  }

  /*--------manip formulaire-------------*/

  .titre_filtre {
    width: 100%;
  }

  .bt_search {
    border-radius: 15px;
  }

  .bt_search:after {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    color: white;
  }

  #city_activ {
    padding-left: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 640px) {
    
      #city_hotelspopu {
    border-radius: 0px;
  }
    
}

@media only screen and (max-width: 450px) {
    /*Manque desTRUC*/
    
    form{margin-left: 5px}
    #lieux{
    width: 180px;
    margin-left: 10px;
    font-size: 1em;
  }
  .filtre {
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 16px;
    font-size: 0.8em;
  }
    
  #city_hotelspopu,
  footer {
    /*margin-left: -15px;*/
    width: 100%;
  }

  .annonce2,
  .annonce1,
  .activboxH{
    width: 90%;
  }
  
}
