/*
Bleu                              var(--color_bleu_1);
  Bleu clair                      #DEEBFF
  Gris                             #F2F2F2

   #recheche_hotel
   #ligne_recherche


*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --color_bleu_1: #0065fc;
}
body {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.wraper {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  font-family: "Raleway", "Arial", " Verdana", "sans-serif";
  font-size: 100%;
  font-size: 1em;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  padding-left: 25px;
  font-weight: bolder;
  font-size: 1.8em;
}

h2 {
  padding-left: 15px;
  font-weight: bolder;
  font-size: 1.5em;
}
h3 {
  /* padding-left: 25px;*/
  margin-top: 8px;
  font-size: 1.05em;
}
h5 {
  padding-left: 25px;
  font-size: 1.2em;
}
h5:hover {
  cursor: pointer;
  color: var(--color_bleu_1);
}

.devise {
  font-size: 1.1em;
  font-weight: bold;
}

/*pbme back-up -redondance*/

header nav a,
.navinscrire {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  border-top: 1px solid transparent;
}

header nav a:hover,
.navinscrire:hover {
  border-top: 1px solid var(--color_bleu_1);
  color: var(--color_bleu_1);
}

.navCAtegory {
  width: 120px;
  display: flex;
  justify-content: center;

  gap: 20px;
}

/*news*/

.navinscrire {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid transparent;
}

header,
header nav {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

header nav a {
  text-align: center;
  margin-left: 5px;
  border-top: 1px solid transparent;
  padding: 10px;
  color: #000;
}
header img {
  margin-right: auto;
}
header a:hover {
  color: grey;
}

header nav a:hover {
  border-top: 1px solid var(--color_bleu_1);
  color: var(--color_bleu_1);
}

.info_dispo,
h1 ~ p,
form,
header img {
  margin-left: 15px;
}

/*_________________________________________

________________formulaire _________________*/

.titre_filtre {
  font-size: 1.2em;
  font-weight: bold;
}

#lieux {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  border-color: transparent;
  font-size: 1.3em;
}
#lieux:focus {
  border-color: blue;
}

.filtre .fas {
  display: flex;
  width: 42px;
  height: 42px;
  margin-left: -2px;
  color: var(--color_bleu_1);
  background-color: #deebff;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  border-radius: 50%;
}

.fa-map-marker-alt {
  padding: 13px 15px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.fa-info {
  font-size: 0.8em;
  padding: 4px;
  margin-right: 8px;
  width: 15px;
  color: var(--color_bleu_1);
  height: 15px;
  /*
    */
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.bt_recherche {
  padding: 13px 13px;
  font-size: 1em;
  color: white;
  background-color: var(--color_bleu_1);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.bt_recherche:after {
  content: "Rechercher";
}
.bt_recherche:hover {
  box-shadow: 0px 0px 2px #000000;
}

.fa,
.fas {
  font-weight: 900;
}

#liste_filtres {
  display: flex;
  align-items: center;
  position: relative;
  flex-flow: row wrap;
}

.filtre {
  display: flex;
  align-items: center;
  border: #f2f2f2 solid 2px;
  height: 44px;
  border-radius: 22px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
  cursor: pointer;
}

.filtre:hover {
  border: var(--color_bleu_1) solid 2px;
}

.filtre:hover .fas,
.filtre input:checked ~ .fas {
  color: white;
  background-color: var(--color_bleu_1);
}

.filtre:hover .filtre_txt {
  color: var(--color_bleu_1);
}

input:checked ~ .filtre_txt {
  color: var(--color_bleu_1);
  text-decoration: underline var(--color_bleu_1);
}

.filtre input,
#input_recherche,
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filtre_txt {
  padding-left: 20px;
}

liste_filtres p {
  font-size: 1.3em;
}
.fa-info {
  display: flex;
  color: var(--color_bleu_1);
  border: #f2f2f2 solid 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  margin-right: 10px;
}

.info_dispo {
  display: flex;
  align-items: center;
}

.infos p {
  font-size: 1.1em;
  margin-left: 0;
  margin-top: 20px;
}

/*____________________________________________
____________________________ hebergement and co
________________________________________________

*/

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

#les_hotels_Box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
  border-radius: 20px;
  background: #f2f2f2;
}

#les_annonces_2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /*  justify-content:center;*/
  border-radius: 20px;
  background: #f2f2f2;
  margin-left: 20px;
}

#les_annonces_3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0px;
  height: 540px;
  padding: 10px;
}

/*____________________________________________
____________________________ cadre photo
________________________________________________

*/
.cadre_photo_1 {
  height: 120px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cadre_photo_2 {
  /* a factoriser ? */
  height: 130px;
  width: 130px;
  min-width: 130px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.cadre_photo_3 {
  height: 130px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cadre_photo_1 img,
.cadre_photo_2 img,
.cadre_photo_3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*____________________________________________
____________________________ "hotel normaux"
________________________________________________

*/

.les_annonces1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.annonce_1 {
  display: flex;
  flex-direction: column;

  margin: 5px;
  border: 5px solid #fff;
  border-radius: 24px;
  background: #fff;
  width: 180px;
  box-shadow: 3px 3px hsl(0, 0%, 50%, 0.3);
  /*box-shadow: 0px 0px 8px #000000;*/
  flex: 1;
  min-width: 240px;
}
.annonce_1:hover {
  cursor: pointer;
}
.annonce_1_text {
  /* display: flex;
  flex-direction: column;
  virer TODAY
!!!!!!!!!!!!!  justify-content: flex-start;
line-height: 1px;
*/
  margin-left: 12px;
  margin-top: 0px;
}

/*____________________________________________
____________________________ hotel popu
______________________________________________

*/
.fa-chart-line {
  margin-left: 40px;
}

.annonce_2 {
  display: flex;
  margin: 10px;
  border: 5px solid #fff;
  border-radius: 24px;
  width: 90%;
  width: 340px;
  background: white;
  box-shadow: 0px 0px 5px grey;
}

.annonce_2_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;

  margin-top: 0px;
}
.annonce_2_text p {
  height: 100%;
}

/*________________________________________________
                gestion des étoiles
                .etoile0 .fa-star{color: grey;}
__________________________________________________*/

.les_etoiles,
.etoile0 {
  font-size: 0.7em;
  color: rgb(217, 217, 217);
}

.etoile1 .fa-star:nth-child(1) {
  color: var(--color_bleu_1);
}

.etoile2 .fa-star:nth-child(1),
.etoile2 .fa-star:nth-child(2) {
  color: var(--color_bleu_1);
}
.etoile3 .fa-star:nth-child(1),
.etoile3 .fa-star:nth-child(2),
.etoile3 .fa-star:nth-child(3) {
  color: var(--color_bleu_1);
}
.etoile4 .fa-star:nth-child(1),
.etoile4 .fa-star:nth-child(2),
.etoile4 .fa-star:nth-child(3),
.etoile4 .fa-star:nth-child(4) {
  color: var(--color_bleu_1);
}
.etoile5 .fa-star {
  color: var(--color_bleu_1);
}
/*____________________________________________
____________________________ Activité
________________________________________________

*/

.annonce_3 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 12px;
  border-radius: 20px;
  background: #fff;
  width: 300px;
  box-shadow: 3px 2px 4px 1px lightgrey;
}

.annonce_3:nth-child(3n-2) .cadre_photo_3 {
  height: 400px;
}

.annonce_3:nth-child(2) .cadre_photo_3 {
  height: 183px;
}
.annonce_3:nth-child(3) .cadre_photo_3 {
  height: 111px;
}
.annonce_3:nth-child(5) .cadre_photo_3 {
  height: 140px;
}
.annonce_3:nth-child(6) .cadre_photo_3 {
  height: 154px;
}

.annonce_3:hover {
  background: #f2f2f2;
  box-shadow: 0px 0px 4px #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.annonce_3 h3 {
  height: 30px;
  padding-top: 10px;
  padding-left: 20px;
}

/* .annonce_1_text > p,
.annonce_2_text > p {
  font-size: 0.9em;
  line-height: 1.2;
}
 */
.annonce_1_text p,
.annonce_2_text p {
  /* display: flex;*/

  font-size: 0.8em;
  margin-top: -18px;
  padding: 0px;
}
.annonce_1_text .prix,
.annonce_2_text .prix {
  font-size: 0.9em;
}

.les_annonces2 {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

footer {
  /*  margin-left: -20px;

  width: calc(100% + 20px); */
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

footer .foot_txt {
  flex: 28%;
  padding-left: 10px;
}

footer h4 {
  padding-left: 40px;
}
footer li {
  list-style-type: none;
  cursor: pointer;
}
footer li:hover {
  color: var(--color_bleu_1);
}

@media only screen and (max-width: 1200px) {
  #les_annonces_3 {
    display: block;
    /* width: 100%;*/
    height: auto;
  }

  .annonce_3 {
    width: 356px;
    margin-left: calc(50% - 178px);
    /* pour un mediaq à 450? */
  }
}
@media only screen and (max-width: 990px) {
  main {
    flex-wrap: wrap-reverse;
  }

  #les_annonces_2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .subscribe {
    order: 2;
  }
  header nav {
    order: 3;
  }

  header nav {
    width: 100%;
    justify-content: center;
  }

  header nav a {
    flex: 40%;
    border-bottom: 1px solid transparent;
  }

  header nav a:hover {
    border-bottom: 1px solid var(--color_bleu_1);
    border-top: 1px solid transparent;
  }
}

@media only screen and (max-width: 640px) {
  #les_annonces1 {
    border-radius: 0px;
    background-color: transparent;
  }
  #les_annonces_2 {
    border-radius: 0px;
  }

  .annonce_3:nth-child(n + 1) .cadre_photo_3 {
    height: 130px;
  }
  #les_annonces_3 {
    display: block;
    width: 100%;
  }
  .annonce_3 {
    width: 330px;
    margin-left: calc(50% - 165px);
  }
}

@media only screen and (max-width: 450px) {
  form {
    margin-left: 5px;
  }

  #lieux {
    width: 180px;
    margin-left: 10px;
    font-size: 1em;
  }
  .filtre {
    margin-left: 8px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 14px;
    font-size: 0.8em;
  }

  .bt_recherche {
    border-radius: 15px;
  }

  .bt_recherche:after {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    color: white;
  }
  .titre_filtre {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .annonce_1,
  .annonce_2,
  .annonce_3 {
    width: 290px;
    margin-left: calc(50% - 145px);
  }
  .annonce_3 {
    margin-top: 15px;
  }
}
